@charset "UTF-8";
body {
  color: #212121;
  font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', "微软雅黑", "Microsoft YaHei", "黑体", "Tahoma", "宋体"; }

#header .header-inner {
  height: 28px;
  line-height: 28px;
  width: 960px;
  margin: 0 auto; }

.box .clr {
  overflow: hidden; }

.logo {
  float: left;
  padding-top: 8px; }
  .logo a {
    display: block;
    color: #333;
    text-decoration: none;
    cursor: pointer; }

.cart-list {
  overflow: hidden;
  float: right;
  margin-top: 8px; }
  .cart-list li {
    width: 145px;
    float: left;
    height: 36px;
    position: relative;
    color: #333;
    background-color: #f1f1f1; }
    .cart-list li p {
      width: 130px;
      margin: 0 auto;
      height: 36px;
      line-height: 36px;
      font-size: 12px;
      text-align: center; }
      .cart-list li p em {
        line-height: 36px;
        font-size: 14px;
        text-align: center;
        margin: 0 8px 0 0;
        overflow: hidden;
        font-style: normal; }
    .cart-list li span {
      display: block;
      width: 22px;
      height: 36px;
      position: absolute;
      right: -1px;
      top: 0;
      background: url(../img/cart/order_icon_new03.gif) no-repeat;
      background-position: 0 -25px; }
  .cart-list .cur {
    background-color: #2d2d2d;
    color: #fff; }
    .cart-list .cur p {
      font-weight: bold; }
      .cart-list .cur p em {
        background-position: 0 -170px; }
    .cart-list .cur span {
      background: url(../img/cart/order_icon_new03.gif) no-repeat;
      background-position: 0 -65px; }

.cart_header_top input {
  vertical-align: middle;
  outline: 0; }

.cart_notice {
  color: #888;
  height: 30px;
  line-height: 30px;
  background: url(../img/cart/order_icon_new03.gif) -181px -327px no-repeat;
  padding-left: 25px; }

.box {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff; }

.cart_proList {
  background: 0;
  color: #333;
  position: relative;
  margin-bottom: 20px; }
  .cart_proList .main-shopping {
    overflow: hidden;
    width: auto; }
    .cart_proList .main-shopping .cart_table_th {
      margin-bottom: 10px;
      border: 1px solid #e4e4e4;
      padding-top: 6px;
      height: 30px; }
      .cart_proList .main-shopping .cart_table_th .th {
        float: left;
        height: 24px;
        line-height: 24px;
        font-size: 12px; }
      .cart_proList .main-shopping .cart_table_th .th_chk {
        width: 120px;
        border: 0;
        text-align: left; }
      .cart_proList .main-shopping .cart_table_th .th_item {
        width: 290px; }
      .cart_proList .main-shopping .cart_table_th .th_price {
        width: 165px; }
      .cart_proList .main-shopping .cart_table_th .th_amount {
        width: 120px; }
      .cart_proList .main-shopping .cart_table_th .th_sum {
        width: 135px; }
      .cart_proList .main-shopping .cart_table_th .th_op {
        width: 125px; }
    .cart_proList .main-shopping .cart_list_wp {
      font-size: 12px;
      border: 1px solid #e2e2e2;
      border-top: 0;
      overflow: hidden; }
      .cart_proList .main-shopping .cart_list_wp .cart_empty {
        text-align: center;
        padding: 50px 0;
        width: 240px;
        margin: 0 auto;
        line-height: 28px; }
        .cart_proList .main-shopping .cart_list_wp .cart_empty a {
          float: right;
          font-size: 14px;
          margin-left: 20px;
          display: inline;
          height: 28px;
          padding: 0 20px;
          color: #fff;
          text-decoration: none;
          background: #0700c5; }
        .cart_proList .main-shopping .cart_list_wp .cart_empty .span {
          float: left; }
    .cart_proList .main-shopping .cartPrice {
      color: #000;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      text-align: right; }
    .cart_proList .main-shopping .cart_bottom {
      position: relative;
      border-top: 0;
      border-bottom: 0;
      font-size: 12px; }
      .cart_proList .main-shopping .cart_bottom .cart_bottom_left {
        border: 1px solid #e2e2e2;
        height: 50px;
        overflow: hidden; }
        .cart_proList .main-shopping .cart_bottom .cart_bottom_left .chk_box {
          float: left;
          width: auto;
          text-align: left;
          vertical-align: middle;
          color: #717171;
          margin-top: 20px; }
    .cart_proList .main-shopping input {
      vertical-align: middle; }

.cart_bottom .chk_box label {
  cursor: pointer;
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle; }
.cart_bottom .chk_box a {
  display: inline-block;
  padding-left: 25px;
  text-decoration: none;
  color: #c1c1c1; }

.cart_bottom_right {
  background-position: 0 -55px;
  width: 958px;
  height: auto;
  line-height: 55px;
  margin: 0 auto; }
  .cart_bottom_right .selectproduct_box {
    font-size: 12px;
    margin: 12px 5px 0;
    position: absolute;
    right: 215px;
    float: left;
    line-height: 34px;
    padding-right: 15px;
    height: 34px; }
    .cart_bottom_right .selectproduct_box em {
      color: #C62026;
      font-size: 14px;
      margin: 0 5px;
      font-weight: 600;
      font-style: normal; }
  .cart_bottom_right .commodity_money {
    font-size: 14px;
    line-height: 34px;
    padding: 0;
    position: absolute;
    right: 110px;
    float: left;
    color: #000;
    height: 24px;
    text-align: right;
    margin-top: 10px; }
    .cart_bottom_right .commodity_money i,
    .cart_bottom_right .commodity_money em {
      font-size: 16px;
      color: #C62026;
      font-weight: 600;
      margin-right: 5px;
      font-style: normal; }
  .cart_bottom_right .settlement_box {
    display: inline-block;
    width: 420px;
    float: right;
    margin-top: 20px; }
    .cart_bottom_right .settlement_box #settlement_btn {
      height: 50px;
      margin-top: -20px;
      line-height: 50px;
      width: 95px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      float: right; }
    .cart_bottom_right .settlement_box a {
      background: #f0f0f0;
      cursor: default;
      font-size: 16px;
      text-align: center;
      color: #fff;
      text-decoration: none; }
      .cart_bottom_right .settlement_box a em {
        font-size: 16px;
        color: #fff;
        font-style: normal; }

body {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: 'Microsoft yahei';
  background: #f6f6f6 !important; }

.sp-footer {
  margin-top: 10px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  position: relative; }
  .sp-footer #footer_info {
    background: #333;
    height: 44px;
    line-height: 36px;
    color: #666;
    text-align: center;
    overflow: hidden; }
    .sp-footer #footer_info a {
      float: left;
      display: inline;
      vertical-align: middle;
      width: 105px;
      text-align: center;
      border-right: 1px solid #474747;
      color: #fff;
      padding: 4px 0;
      overflow: hidden;
      text-decoration: none;
      cursor: pointer; }
  .sp-footer #footer_record {
    padding: 12px 0;
    text-align: center;
    line-height: 30px; }
    .sp-footer #footer_record a {
      padding: 0 8px 0 0;
      color: #333;
      text-decoration: none;
      cursor: pointer; }
    .sp-footer #footer_record i {
      font-style: normal; }
  .sp-footer #footer_auth {
    padding: 0 0 20px;
    text-align: center; }
    .sp-footer #footer_auth a {
      padding: 0 4px;
      font-size: 0;
      display: inline-block;
      width: 76px;
      height: 22px;
      color: #333;
      text-decoration: none;
      cursor: pointer; }

/*# sourceMappingURL=cart.css.map */
