@charset "utf-8";
body {
    font-size: 12px!important;
    font-weight: 400!important;
    font-family: 'Microsoft yahei';
    background: #f6f6f6!important;
}

#logo {
    background: #f6f6f6;
    padding: 20px 0;
    text-align: center;
    height: 40px;
}

.box {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

// 账户核心部分
.clr {
    width: 2000px;
    .sp_loginbox {
        height: 680px;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 36px;
        float: left;
        width: 958px;
        position: relative;
        .left {
            width: 590px;
            float: left;
            .spSgin-box {
                width: 590px;
                height: 540px;
                position: relative;
                overflow: hidden;
            }
        }
    }
}

.clr .splogin_block {
    background: 0;
    border: 0 none;
    width: 496px;
    text-align: left;
    padding: 0 0 0 94px;
    margin-top: 35px;
    float: left;
    position: absolute;
    // margin: 10px auto 0;
    .tab {
        width: 410px;
        height: 28px;
        line-height: 27px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        list-style: none;
        .dd {
            color: #000;
        }
        li {
            width: 204px;
            height: 27px;
            float: left;
            line-height: 28px;
            text-align: center;
            cursor: pointer;
            font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', "微软雅黑", "Microsoft YaHei", "黑体", "Tahoma", "宋体";
            font-size: 13px;
            .login_title {
                display: inline-block;
                width: 92px;
                height: 28px;
                font-size: 20px;
                text-decoration: none;
                color: #9e9e9e;
            }
        }
    }
    .code-login {
        height: 440px;
        width: auto;
        margin: 20px auto 0;
        dd {
            height: 270px;
            padding-top: 45px;
            position: relative;
            overflow: visible;
            color: #3b3b3b
        }
    }
    .zhanghu-login {
        .login-type {
            width: 400px;
            margin: 27px 0;
            display: block;
            overflow: hidden;
            .active-login {
                color: #000;
                span {
                    background: #000;
                    border: 1px solid #000;
                }
            }
            li {
                width: 50%;
                float: left;
                font-size: 16px;
                position: relative;
                // color: #555;
                cursor: pointer;
                span {
                    width: 15px;
                    height: 15px;
                    margin: 3px 10px 0 40px;
                    float: left;
                    border-radius: 50%;
                    display: block;
                }
            }
        }
        dl.margint40 {
            height: 440px;
            width: auto;
            margin: 20px auto 0;
            dd {
                overflow: hidden;
                color: #3b3b3b;
                height: 75px;
                // color: #7a7a7a;
                vertical-align: middle;
                padding: 0;
                margin: 0;
                label {
                    font-size: 14px;
                }
                input.txt_input {
                    width: 388px;
                    float: left;
                    display: inline;
                    margin: 0 22px 0 0;
                    height: 27px;
                    line-height: 27px;
                    padding: 8px 10px;
                    // border: 1px solid #b1adaa;
                    color: #999;
                    font-size: 16px;
                }
                .inputparent_rlat {
                    width: 410px;
                    height: 58px;
                    float: left;
                }
            }
        }
    }
}

// 登录的按钮
.login-button {
    label {
        cursor: pointer;
    }
    a.reset_pwd {
        margin-bottom: 10px;
        display: block;
        color: #0700c5;
        font-size: 14px;
        text-decoration: underline;
        float: right;
        margin-right: 87px;
        cursor: pointer;
    }
    .submit_btn {
        display: block;
        width: 410px;
        height: 49px;
        line-height: 49px;
        background: #e5e5e5;
        // font-size: 14px;
        color: #fff;
        float: left;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        border: 0;
    }
}

// 右面部分
.right {
    width: 367px;
    height: 440px;
    margin-top: 100px;
    border-left: 1px solid #e7e7e7;
    float: right;
    #spReg_msg {
        padding-bottom: 22px;
        .newbox {
            font-size: 16px;
            padding-left: 61px;
            #new-member {
                position: relative;
                width: 115px;
                text-align: left;
                font-size: 18px;
                display: block;
                padding-left: 55px;
                margin: 18px 0 0;
                color: #0700c5;
                text-decoration: none;
                cursor: pointer;
                img {
                    position: absolute;
                    // z-index: 2;
                    right: -10px;
                    top: 0px;
                    border: 0;
                }
            }
        }
    }
    // 右面内容
    .rightinner {
        width: 300px;
        margin: 0 auto;
        .other-box {
            margin-bottom: 34px;
            .special {
                border-top: 1px dashed #000;
                padding-top: 30px;
                font-size: 14px;
                text-align: center;
            }
            .other-inner {
                padding-left: 0;
                padding-top: 30px;
                text-align: center;
                font-size: 14px;
                a {
                    width: 51px;
                    height: 50px;
                    margin-bottom: 8px;
                    margin-right: 20px;
                    color: #333;
                    text-decoration: none;
                    cursor: pointer;
                    display: inline-block;
                }
                .weibo {
                    background: url(../img/denglu/sina_ico.png) no-repeat 0 0;
                    margin-left: 15px;
                }
                .qq {
                    background: url(../img/denglu/qq_ico.png) no-repeat 0 0;
                }
                .zfb {
                    background: url(../img/denglu/pay_ico.png) no-repeat 0 0;
                    margin-right: 0;
                }
            }
        }
    }
}

// footer部分
.sp-footer {
    margin-top: 10px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    #footer_info {
        background: #333;
        height: 44px;
        line-height: 36px;
        color: #666;
        text-align: center;
        overflow: hidden;
        a {
            float: left;
            display: inline;
            vertical-align: middle;
            width: 105px;
            text-align: center;
            border-right: 1px solid #474747;
            color: #fff;
            padding: 4px 0;
            overflow: hidden;
            text-decoration: none;
            cursor: pointer;
        }
    }
    #footer_record {
        padding: 12px 0;
        text-align: center;
        line-height: 30px;
        a {
            padding: 0 8px 0 0;
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }
        i {
            font-style: normal;
        }
    }
    #footer_auth {
        padding: 0 0 20px;
        text-align: center;
        a {
            padding: 0 4px;
            font-size: 0;
            display: inline-block;
            width: 76px;
            height: 22px;
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }
    }
}